{% extends 'base.html' %} {% block content %}

<h1 class="title pt-5">{{header}}</h1>

<form class="mb-5" method="get">
  <div class="field has-addons">
    <div class="control">
      <!--  Our input will search by name of artist  -->
      <input class="input" type="text" name="name" placeholder="name" />
    </div>
    <div class="control">
      <input class="button is-success" type="submit" value="Search" />
    </div>
  </div>
  <!--  This anchor tag will redirect back to artist list without a query param -->
  <a class="button is-dark" href="{% url 'character_list' %}">Clear Search</a>
  <a class="button is-dark" href="{% url 'character_create' %}">Add Character</a>
</form>
<div class="gallery">
  {% for character in characters %}
  <a href="{% url 'character_detail' character.pk %}">
    <div class="card">
      <div class="card-image">
        <figure class="image is-square">
          <img src="{{character.img}}" alt="{{character.name}}" />
        </figure>
      </div>
      <div class="card-header">
        <p class="card-header-title">{{character.name}}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</div>


<div class="character">
    <span>{{ forloop.counter }}</span>
    <span><b>{{ character.name }}</b></span>
    <span>{{ character.class_level }}</span>
<!-- each playlist becomes a drop down item with the ids needed to add to the join table  -->
    <span>
        <div class="dropdown">
            <div class="dropdown-trigger">
                <button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                    <span>Add to Campaign</span>
                    <span class="icon is-small">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu" role="menu">
                <div class="dropdown-content">
                    {% for campaign in campaigns %}
                        <a href="{% url 'campaign_character_assoc' campaign.pk character.pk %}?assoc=add"
                           class="dropdown-item">{{ campaign.title }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </span>

{% endblock %}